[INSERT]
tablelist = ['21','17']

[MONTH]
month = 202110
monthold = 202109

[MODE]
mode1 = [1,2]
mode2 = {"login":"[1]",
	"DataVolume":"[5,6]"}
mode3 = {"phone":"all"}

[DB]
db_config = {"host":"127.0.0.1",
	"port":1433,
	"user":"sa",
	"password":"17931",
	"database":"UniQualityWeb_test",
	"charset":"utf8"}

[LOGIN]
url = http://202.61.88.12:8280/
login = succezci/querylogin
par = {"captcha":"","redirectUrl":"","idpwd":"KwRgDA7GYEYIYG54GcCeIBMBmALMAbEA"}
headers = {"Host":"202.61.88.12:8280",
	"Connection":"keep-alive",
	"Content-Length":"60",
	"Accept":"text/html, */*; q=0.01",
	"supsvg":"1",
	"X-Requested-With":"XMLHttpRequest",
	"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36",
	"Content-Type":"application/x-www-form-urlencoded; charset=UTF-8",
	"Origin":"http://202.61.88.12:8280",
	"Referer":"http://202.61.88.12:8280/succezci/meta/CommonData/public/login2/login.ftl",
	"Accept-Encoding":"gzip, deflate",
	"Accept-Language":"zh-CN,zh;q=0.9",
	"Cookie":"JSESSIONID=E12D8A23796202FD18F8C5D1A1CA6048; SRV=back1-172-18-81-85-8080; JSESSIONID=A869ABA88758C1EA32E7D0A69C19CC68"}

[HOSPCODE]
url = http://202.61.88.12:8280/succezci/sz/ci/datamgrtree/getData
par = {"displayformat":"@ @txt",
	"selectleafonly":"false",
	"multiroot":"true",
	"citaskid":"314867725",
	"multiple":"false",
	"pagesize":"-1",
	"selectprimaryid":"false",
	"needLoadStruct":"false",
	"timepoint":"@@@@@@s"}
headers = {'Host':'202.61.88.12:8280',
	'Connection':'keep-alive',
	'Content-Length':'166',
	'Accept':'text/plain,*/*; q=0.01',
	'supsvg':'1',
	'X-Requested-With':'XMLHttpRequest',
	'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,like Gecko) Chrome/95.0.4638.69 Safari/537.36',
	'Content-Type':'application/x-www-form-urlencoded;charset=UTF-8',
	'Origin':'http://202.61.88.12:8280',
	'Referer':'http://202.61.88.12:8280/succezci/meta/SCWSZBCI/collections/index?selectedId=314867725',
	'Accept-Encoding':'gzip, deflate',
	'Accept-Language':'zh-CN,zh;q=0.9',
	'Cookie':'JSESSIONID=@@@@@@s;JSESSIONID=E07B4C55451EE82C515200CE6C8180CD;SRV=back1-172-18-81-85-8080'}

[HOSPITAL]
url = http://202.61.88.12:8280/succezci/sz/ci/datamgrtree/getData
par1 = {"rootitems":"WJWID@@@3D@@@@@@s","displayformat":"@@@40+@@@40txt","selectprimaryid":"false","multiple":"false","selectleafonly":"false","pagesize":"-1","citaskid":"314867725","timepoint":"@@@@@@s"}
par = rootitems=WJWID@@@3D@@@@@s&displayformat=@@@40+@@@40txt&selectleafonly=false&multiroot=true&citaskid=314867725&multiple=false&pagesize=-1&selectprimaryid=false&needLoadStruct=false&timepoint=@@@@@s
headers = {'Host':'202.61.88.12:8280',
	'Connection':'keep-alive',
	'Content-Length':'166',
	'Accept':'text/plain,*/*; q=0.01',
	'supsvg':'1',
	'X-Requested-With':'XMLHttpRequest',
	'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,like Gecko) Chrome/95.0.4638.69 Safari/537.36',
	'Content-Type':'application/x-www-form-urlencoded;charset=UTF-8',
	'Origin':'http://202.61.88.12:8280',
	'Referer':'http://202.61.88.12:8280/succezci/meta/SCWSZBCI/collections/index?selectedId=314867725',
	'Accept-Encoding':'gzip, deflate',
	'Accept-Language':'zh-CN,zh;q=0.9',
	'Cookie':'JSESSIONID=@@@@@@s;JSESSIONID=E07B4C55451EE82C515200CE6C8180CD;SRV=back1-172-18-81-85-8080'}

[DATAPROCESSING]
url = http://202.61.88.12:8280/succezci/cifill/loaddatapackage
headers = {'Host':'202.61.88.12:8280',
	'Connection':'keep-alive',
	'Content-Length':'166',
	'Accept':'text/plain,*/*; q=0.01',
	'supsvg':'1',
	'X-Requested-With':'XMLHttpRequest',
	'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,like Gecko) Chrome/95.0.4638.69 Safari/537.36',
	'Content-Type':'application/x-www-form-urlencoded;charset=UTF-8',
	'Origin':'http://202.61.88.12:8280',
	'Referer':'http://202.61.88.12:8280/succezci/meta/SCWSZBCI/collections/index?selectedId=314867725',
	'Accept-Encoding':'gzip, deflate',
	'Accept-Language':'zh-CN,zh;q=0.9',
	'Cookie':'JSESSIONID=@@@@@@s;JSESSIONID=E07B4C55451EE82C515200CE6C8180CD;SRV=back1-172-18-81-85-8080'}
par = resid=314867725&formset=default&formsetuuid=1632359c368866f040e174f721208038&forms=B0&data=@@@5B@@@7B@@@22dataperiod@@@22@@@3A@@@22@@@@@s@@@22@@@2C@@@22datahierarchies@@@22@@@3A@@@22WJWID@@@3D@@@@@s@@@26YLJGID@@@3D@@@@@s@@@22@@@2C@@@22tables@@@22@@@3A@@@5B@@@22B0@@@22@@@2C@@@22XXB@@@22@@@5D@@@7D@@@2C@@@7B@@@22dataperiod@@@22@@@3A@@@22@@@@@s@@@22@@@2C@@@22datahierarchies@@@22@@@3A@@@22WJWID@@@3D@@@@@s@@@26YLJGID@@@3D@@@@@s@@@22@@@2C@@@22tables@@@22@@@3A@@@5B@@@22B0@@@22@@@2C@@@22XXB@@@22@@@5D@@@7D@@@5D&options=@@@7B@@@22finddraft@@@22@@@3Atrue@@@2C@@@22findapprove@@@22@@@3Atrue@@@2C@@@22findlocker@@@22@@@3Atrue@@@2C@@@22findlastsubmittime@@@22@@@3Atrue@@@2C@@@22findpermissions@@@22@@@3Atrue@@@2C@@@22findaudit@@@22@@@3Atrue@@@2C@@@22findhierarchyinf@@@22@@@3Atrue@@@7D

